<div class="card m-3 text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <hr />
    <p class="card-text">{{body}}</p>
    <p>by <a href="/user/{{user_id}}" id="user-link" class="card-link">{{user.username}}</a>
    <a href="/thread/{{id}}" class="card-link">View</a></p>
  </div>
</div>