{{#if loggedIn }}
{{> memberNavbar}}
{{else}}
{{> navbar}}
{{/if}}
<main>
    <div class="jumbotron text-center">
        <h1 class="display-4">{{thread.title}}</h1>
        <hr class="my-4" />
        <a class="btn btn-primary" href="/" role="button">All Threads</a>
    </div>
  <div class="card m-3">
    <h5 class="card-header">{{thread.title}}</h5>
    <div class="card-body">
      <p class="card-text">{{thread.body}}</p>
      <p>by <a href="/user/{{thread.user_id}}" id="user-link" class="card-link">{{thread.user.username}}</a>
    </div>
</div>
{{#if loggedIn}}
    {{#if isMyThread}}
      <div class="my-2 text-center">
        <button class="btn btn-danger" type="button" id="delete-btn" data-id="{{thread.id}}"><i class="far fa-trash-alt"></i><span class="px-2">Delete Thread</span></button>
      </div>
    {{/if}}
  {{/if}}
  {{#each thread.comments}}
<div class="card m-3 text-start" style="width: 30rem;">
  <div class="card-body">
    <p class="card-text">{{this.comment}}</p>
    <p class="m-3 text-start">by <a href="/user/{{this.user_id}}" id="user-link" class="card-link">{{this.user.username}}</a>
  </div>
</div>
{{/each}}

{{#if loggedIn}}
<form class="m-3" style="width: 30rem" id="create-comment">
  <input type="hidden" id="threadId" value="{{thread.id}}" />
  <label for="comment-textarea" class="form-label">comment</label>
  <textarea class="form-control" id="comment-textarea" rows="3"></textarea>
  <button class="mt-3 btn btn-primary" type="submit">submit</button>
</form>
{{/if}}
</main>